/* src/index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #ffffff; /* Fondo totalmente blanco */
  color: #333333; /* Texto gris oscuro para que no lastime la vista */
  min-height: 100vh;
}